@import "./Flex.module.scss";
@import "./Color.module.scss";

$box-with : 250px;
$box-height : 50px;
$box-margin-left : 25px;
$box-margin-right : 2px;
$box-margin-bottom : 2px;
$box-border-radius : 8px;

@mixin box {
    @include sub_text();

    width: $box-with;
    height: $box-height;
    /* Auto layout */
    border-radius: $box-border-radius;
    margin-bottom: 2px;
    margin-left: 25px;
    margin-right: 25px;
}

.box_active {
    @include box();
    @include main_text();
    
    background: #006AD4;
    margin-bottom: 35px;
}

.box_select {
    @include box();
    @include main_text();

    background: #353739;
}

.box_default {
    @include box();
}

.box_default:hover {
    @include main_text();

    cursor: pointer;
    background-color: #353739;
}

.box_default:last-child {
    margin-bottom: 24px;
}

// .box_default, .box_select, .box_active {
//     margin-left: 25px;
//     margin-right: 25px;
// }

.box_items {
    @include row();
    @include center();

    justify-content: space-between;
    margin: 12px 10px 12px 10px
}

.box_items .left_box {
    @include row();
    @include center();
    margin-left: 10px;
}

.left_box .text {
    margin-left: 10px;
}

// .box_items .show_more {
//     margin-right: 10px;
// }

.items {
    margin-left: auto;
}
