@import "./Flex.module.scss";

$box-with : 250px;
$box-height : 50px;
$box-margin-left : 25px;
$box-margin-right : 2px;
$box-margin-bottom : 2px;
$box-border-radius : 8px;

@mixin box {
    width: $box-with;
    height: $box-height;
    /* Auto layout */
    border-radius: $box-border-radius;
    margin-bottom: 2px;
}

.box_active {
    @include box();
    
    background: #006AD4;
    margin-bottom: 35px;
}

.box_select {
    @include box();
    
    background: #353739;
}

.box_default {
    @include box();
}

.box_default:hover {
    cursor: pointer;
    background-color: #353739;
}

.box_items {
    @include row();
    @include center();

    width: $box-with;
    height: $box-height;
    justify-content: space-between;
}

.box_items .left_box {
    @include row();
    @include center();
    margin-left: 10px;
}

.left_box .text {
    margin-left: 10px;
}

.box_items .show_more {
    margin-right: 10px;
}
