@import "Flex.module.scss";
@import "./Color.module.scss";

@mixin letter_item {
    margin-bottom: 2px;
    // border: 1px solid #1F1F1F;
}

@mixin select {
    background: #353739;
}

.letter_list {
    margin: 16px 16px 0px 16px;
}

.letter_item_select:hover {
    @include select();

    cursor: pointer;
    background: #353739;
    border: 1px solid rgba(127, 127, 127, 0.2);
    border-radius: 8px;
}

.letter_item_select{
    // border-bottom: 1px solid rgba(248, 250, 252, 0.2);
    background: #1F1F1F;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-bottom: 5px;
}

// .letter_item_select:first-child {
//     border-top: 1px solid rgba(248, 250, 252, 0.2);
// }

.letter_head {
    @include center();
    @include row();

    margin-bottom: 2px;
}

.letter_avatar {
    margin: 24px 24px 95px 24px;
}

.letter_box {
    margin: 24px 24px 24px 16px;
    width: 100%
}

.letter_box_header {
    @include row();
    @include center();

    margin-bottom: 4px;
}

.letter_box_username {
    font-size: 18px;
}

.letter_box_sending_time {
    @include sub_text();
    
    margin-left: auto;
    font-size: 12px;
}

.letter_box_body {
    @include row();
    @include center();

    margin-bottom: 12px;
}

.letter_box_title {
    font-size: 14px;
}

.letter_box_status {
    // display: none;
    margin-left: auto;
}

.letter_box_description {
    @include main_text();

    font-size: 12px;
    margin-bottom: 12px;
}

.letter_box_attach_files {
    @include row();

    width: 300px;
    height: 26px;
}

.letter_box_file_default {
    @include row();
    @include center();

    background-color: #353739;
    width: 105px;
    height: 26px;
    border-radius: 4px;
    margin-right: 10px;
}

.letter_box_file_collap {
    background-color: #353739;
    width: auto;
    height: 26px;
    border-radius: 4px;
    margin-right: 10px;
}

.letter_item_select:hover .letter_box_file_collap,
.letter_item_select:hover .letter_box_file_default {
    background-color: #1F1F1F;
}

.letter_box_file_icon {
    margin: 6px 8px 6px 8px;
}

.letter_box_file_name {
    font-size: 12px;
    margin: 6px 6px 6px 0px;
}

.letter_box_file_items {
    margin: 6px 6px 6px 6px;
    font-size: 12px;
}