@import "./Flex.module.scss";
@import "./Color.module.scss";

.header_center_side {
    margin-top: 24px;
    border-bottom: 1px solid rgba(248, 250, 252, 0.2);
}

.header_1_center_side {
    @include column();

    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 25px;
}

.header_2_center_side {
    @include row();
}

.header_title_center_side {
    margin-bottom: 4px;
    font-size: 32px;
}

.header_des_center_side {
    @include sub_text();

    font-size: 14px;
}

.header_searching_bar_center_side {
    @include row();
    @include center();

    padding: 12px 8px;
    width: 356px;
    height: 46px;
    background: #353739;
    border-radius: 14px;
    margin: 0px 16px 24px 16px;
}

.searching_icon {
    margin: 12px 4px 12px 8px;
}

.header_searching_input_center_side {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #353739;
    width: 90%;
}

.header_new_mes_center_side {
    padding: 12px;
    width: 46px;
    height: 46px;
    margin-right: 16px;
    background: #353739;
    border-radius: 8px;
    border-color: #7F7F7F;
    border-style: none;
}